      <div class="wrapper">
            <div class="outerbox" style="background-image: url(https://i.imgur.com/aDINlLn.png);">
                <!-- <h3 class="title">Contact Info</h3> -->

                <div class="contactInfo">
                    <ul class="mobile-app-filter-menu" data-mobile-app-filter-menu>
                        <li>
                            <a id="email" href="mailto:snvivoli@gmail.com">
                                <i id="email-icon" class="fas fa-paper-plane"></i></a>
                            snvivoli@gmail.com
                        </li>
                        <li><a id="email" href="tel:6507962557">
                                <i id="email-icon" class="fas fa-mobile-alt"></i></a>
                            (650) 796-2557
                        </li>
                        <li><a id="email" href="https://www.linkedin.com/in/sarah-vivoli/" target="_blank">
                                <i id="email-icon" class="fab fa-linkedin"></i></a>
                            LinkedIn
                        </li>
                        <li>
                            <a id="email" href="https://github.com/svivoli" target="_blank">
                                <i id="email-icon" class="fab fa-github"></i></a>
                            GitHub
                            </a>
                        </li>
                        <li><a id="email"
                                href="https://docs.google.com/document/d/1Dgleh29HBpD2juFqEO7xUXNbs7VSOeoedjUGzAnZqHc/edit?usp=sharing"
                                target="_blank">
                                <i id="email-icon" class="fab fa-google-drive"></i></a>
                            View Resume</li>
                    </ul>
                </div>

                <div id="contactCard">
                    <h3 class="title">Send a Note</h3>
                    <form class="uk-form-stacked" method="POST" action="send">
                        <div class="uk-margin">
                            <label id="label" class="uk-form-label" for="form-stacked-text">Name</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="sender form-stacked-text" type="text" name="contactName"
                                    placeholder="Princess Zelda">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label id="label" class="uk-form-label" for="form-stacked-text">Company</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="senderCompany form-stacked-text" type="text" name="contactCompany"
                                    placeholder="Kingdom of Hyrule">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label id="label" class="uk-form-label" for="form-stacked-text">Email</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="senderEmail form-stacked-text" type="text" name="contactEmail"
                                    placeholder="whereslink@gmail.com">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label id="label" class="uk-form-label" for="form-stacked-text">Phone</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="senderPhone form-stacked-text" type="text" name="contactPhone"
                                    placeholder="(444) 444-4444">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <label id="label" class="uk-form-label" for="form-stacked-text">Message</label>
                            <div class="uk-form-controls">
                                <textarea class="uk-textarea" id="senderMessage" name="contactMessage" rows="5"></textarea>
                            </div>
                        </div>
                    <button class="submit-btn uk-button uk-button-default" type="submit">Send</button>
                    </form>
                    {{ msg }}
                </div>

            </div>

        </div>
        </div>

        <div class="holy-grail-footer">
            Copyright 2020©
        </div>