 <!------------ Title/Description ------------>


    <div class="portfolio-description">
        <h2 class="title">My Works</h2>
        <p>Below are some of my projects I've created over the past several months in my boot camp program,
            as well as several versions of my portfolio website.
            Each one is linked to the live site. Feel free to explore the functionality and features of
            each project. Below the projects is a concise directory with links to each project's GitHub
            repository. There you will have access to the project's full code and README file.
        </p>
    </div>


    <!-- End Title/Description -->

    <!------------ Portfolio Content ------------>

    <article class="article-portfolio">

        <section class="portfolio1">
            <div class="image-hover-wrapper">
                <a href="https://jeretc79.github.io/project1/" target="_blank"><img src="public/images/portfolio/showmeshows.JPEG"
                        width="600">
                    <span class="image-hover-wrapper-reveal">

                        <p><strong>SHOWMESHOWS</strong><br>Concert Locator & Reminder<br>(Currently under maintenance)<br><br>
                            Check it<br><i class="fa fa-link" aria-hidden="true"></i>
                        </p>
                    </span>
                </a>
        </section>

        <section class="portfolio3">
            <div class="image-hover-wrapper">
                <a href="https://peer-one.herokuapp.com/" target="_blank"><img src="public/images/portfolio/peer-up.png"
                        width="600">
                    <span class="image-hover-wrapper-reveal">
                        <p><strong>peɘr up</strong><br>A collaborative website for coding students<br><br>Check it<br><i class="fa fa-link" aria-hidden="true"></i>
                        </p>
                    </span>
                </a>
            </div>
        </section>

        <section class="portfolio2">
            <div class="image-hover-wrapper">
                <a href="https://svivoli.github.io/Weather-Dashboard/" target="_blank"><img src="public/images/portfolio/weatherapp.jpg"
                        width="600">
                    <span class="image-hover-wrapper-reveal">
                        <p><strong>WEATHER DASH</strong><br>Displays current and forecasted weather based on searched
                            criteria<br><br>
                            Check it<br><i class="fa fa-link" aria-hidden="true"></i>
                        </p>
                    </span>
                </a>
            </div>
        </section>

        <section class="portfolio3">
            <div class="image-hover-wrapper">
                <a href="https://svivoli.github.io/Daily-Planner/" target="_blank"><img src="public/images/portfolio/planner.jpg"
                        width="600">
                    <span class="image-hover-wrapper-reveal">
                        <p><strong>DAILY PLANNER</strong><br>Organize your daily tasks by hour using local
                            storage<br><br>Check it<br><i class="fa fa-link" aria-hidden="true"></i>
                        </p>
                    </span>
                </a>
            </div>
        </section>

        <section class="portfolio4">
            <div class="image-hover-wrapper">
                <a href="https://svivoli.github.io/Portfolio1/" target="_blank"><img src="public/images/portfolio/portfolio.png"
                        width="600">
                    <span class="image-hover-wrapper-reveal">
                        <p><strong>Early Portfolio</strong><br><br>Check it<br><i class="fa fa-link" aria-hidden="true"></i>
                        </p>
                    </span>
                </a>
            </div>
        </section>

        <section class="portfolio3">
            <div class="image-hover-wrapper">
                <a href="https://stark-everglades-05320.herokuapp.com/" target="_blank"><img src="public/images/portfolio/diner.jpg"
                        width="600">
                    <span class="image-hover-wrapper-reveal">
                        <p><strong>Burger Logger</strong><br>A log for burger lovers<br><br>Check it<br><i class="fa fa-link" aria-hidden="true"></i>
                        </p>
                    </span>
                </a>
            </div>
        </section>

        <section class="portfolio3">
            <div class="image-hover-wrapper">
                <a href="https://aqueous-journey-39158.herokuapp.com/" target="_blank"><img src="public/images/portfolio/note-taker.png"
                        width="600">
                    <span class="image-hover-wrapper-reveal">
                        <p><strong>Note Taker</strong><br>Write, save and delete notes<br><br>Check it<br><i class="fa fa-link" aria-hidden="true"></i>
                        </p>
                    </span>
                </a>
            </div>
        </section>

        <section class="portfolio3">
            <div class="image-hover-wrapper">
                <a href="https://svivoli.github.io/Latest_Portfolio/" target="_blank"><img src="public/images/portfolio/beachfull1.jpg"
                        width="600">
                    <span class="image-hover-wrapper-reveal">
                        <p><strong>Later Portfolio 1</strong><br>Featuring continuous scroll and generated theme<br><br>Check it<br><i class="fa fa-link" aria-hidden="true"></i>
                        </p>
                    </span>
                </a>
            </div>
        </section>

        <section class="portfolio3">
            <div class="image-hover-wrapper">
                <a href="https://svivoli.github.io/Portfolio-new/" target="_blank"><img src="public/images/portfolio/desk1.jpg"
                        width="600">
                    <span class="image-hover-wrapper-reveal">
                        <p><strong>Later Portfolio 2</strong><br>Featuring continuous scroll and another generated theme<br><br>Check it<br><i class="fa fa-link" aria-hidden="true"></i>
                        </p>
                    </span>
                </a>
            </div>
        </section>


    </article>

        <div class="repositories">

                <h3 class="title">Repositories</h3>

                <div class="github-links">
                <a href="https://github.com/Jeretc79/project1" target="_blank"><i class="social-icon fab fa-github"></i></a> ShowMeShows
                <br>
                <a href="https://github.com/marissa-lc/Peer-One" target="_blank"><i class="social-icon fab fa-github"></i></a> peɘr up
                <br>
                <a href="https://github.com/svivoli/Weather-Dashboard" target="_blank"><i class="social-icon fab fa-github"></i></a> Weather Dash
                <br>
                <a href="https://github.com/svivoli/Daily-Planner" target="_blank"><i class="social-icon fab fa-github"></i></a> Daily Planner
                <br>
                <a href="https://github.com/svivoli/Portfolio1" target="_blank"><i class="social-icon fab fa-github"></i></a> Early Portfolio
                <br>
                <a href="https://github.com/svivoli/Burger-Logger" target="_blank"><i class="social-icon fab fa-github"></i></a> Burger Logger
                <br>
                <a href="https://github.com/svivoli/Note-Taker" target="_blank"><i class="social-icon fab fa-github"></i></a> Note Taker
                <br>
                <a href="https://svivoli.github.io/Portfolio-Pink-Grey/" target="_blank"><i class="social-icon fab fa-github"></i></a> Later Portfolio 1
                <br>
                <a href="https://svivoli.github.io/Portfolio-Simple-Blue/" target="_blank"><i class="social-icon fab fa-github"></i></a> Later Portfolio 2
                <br><br>

                <a href="https://github.com/svivoli?tab=repositories" target="_blank"><i class="social-icon fab fa-github"></i></a> All GitHub Repositories
            </div>
        </div>


    <div class="holy-grail-footer">
        Copyright 2020©
    </div>